body {
    font-family: Arial, Helvetica, sans-serif;
}


  nav {
    position: sticky; top: 0; z-index: 100;
    display: flex; align-items: center; justify-content: space-between;
    padding: 0 5%; height: 68px;
    background: rgba(255,255,255,0.92);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(26,107,255,0.08);
  }

  .logo {
    display: flex; align-items: center; gap: 8px;
    font-family: 'Syne', sans-serif; font-weight: 800;
    font-size: 1.3rem; color: var(--navy); text-decoration: none;
  }

  .logo-icon img{
    width: 150px; 
    height: 50px; 
     }

  .logo span { color: var(--blue); }

  .nav-links {
    display: flex; align-items: center; gap: 32px;
    list-style: none;
  }

  .nav-links a {
    text-decoration: none; color: var(--muted);
    font-size: 0.92rem; font-weight: 500;
    transition: color 0.2s;
  }

  .nav-links a:hover { color: var(--blue); }

  .nav-cta { display: flex; align-items: center; gap: 10px; }

  .btn-ghost {
    padding: 8px 18px; border-radius: 10px;
    border: 1.5px solid rgba(26,107,255,0.25);
    color: var(--blue); font-size: 0.88rem; font-weight: 500;
    background: transparent; cursor: pointer;
    text-decoration: none; transition: all 0.2s;
  }
  .btn-ghost:hover { background: var(--blue-light); border-color: var(--blue); }

  .btn-primary {
    padding: 9px 20px; border-radius: 10px;
    font-size: 0.88rem; font-weight: 600;
    border: none; cursor: pointer;
    text-decoration: none; transition: all 0.2s;
    box-shadow: 0 4px 16px rgba(26,107,255,0.30);
  }

 .content {
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  gap: 20px;   
  background-color: 	#E8E8E8;   
  margin-bottom: 15vh;               
}

.text h2 {
    text-align: center;
    color: rgb(28, 88, 218);
    font-weight: bold;
    padding: 5px;
}

.content img {
  width: 40%;                  
  object-fit: cover;
}

